<form method="post">
<div class="container-fluid mt-4 " style="margin-left:20px">
  
  <div class="row">
    {{#each lcCatParent}}
      <div class="col-sm-3 " style="margin-right:30px">
        <div class="card mb-3 ">
          <h4 class="card-header ">
            {{CatName}}
          </h4>
          <div class="list-group list-group-flush">
            {{#each ../lcCategories}}
            {{#if (eq ../CatID CatParent)}}
              <a href="/courses/byCat/{{CatID}}" class = "list-group-item list-group-item-action list-group-item list-group-item-action {{#if isActive }} active {{/if}}">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                {{CatName}}
                {{#if CourCount}}
                  <span class="badge badge-pill badge-primary text-danger ", style="float: right;">{{CourCount}}</span>
                {{/if}}
              </a>
              {{/if}}
            {{/each}}
          </div>
          <ul class="list-group list-group-flush">

          </ul>
  </div>
  </div>
  {{/each}}

  <div class ="col-sm-11 mt-3 " >
  <div class="card text-white bg-warning">
  <h4 class="card-header">
    Khóa học
  </h4>
  {{#if this.empty}}
    <div class="card-body">
      Không có dữ liệu!
    </div>
  {{else}}
    <div class="card-body text-black">
      <div class="row">
        {{#each this.courses}}

          <div class="col-sm-3 mb-5">
            <div class="card h-100">
              <img src="/public/img/5/main.jpg" alt="{{CourName}}" title="{{CourName}}">
              <div class="card-body">
                <h5 class="card-title">{{CourName}}</h5>
                <h5 class="text-danger">{{format_number Price}}</h5>
                <h6 class="card-title">Lượt xem: {{Views}}</h6>
              </div>
              <div class="card-footer">
                <a
                  class="btn btn-outline-primary"
                  href="/courses/detail/{{CourID}}"
                  role="button"
                >

                  Xem chi tiết
                </a>
                <a class="btn btn-outline-success" href="#" role="button">

                  Mua khóa học
                </a>
              </div>
            </div>
          </div>
         
        {{/each}}
      </div>
      <ul class="pagination">
       {{#if (eq this.pageNumbers.[0].isCurPage 1)  }}
              
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{minus this.pageNumbers.[0].isCurPage 1}}">Previous</a>
          </li>
        {{/if}}
         
        {{#each this.pageNumbers}}
          

          {{#if isCurrent}}
            
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{value}}</span>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
          {{/if}}
        {{/each}}

        {{#if (eq this.pageNumbers.[0].isCurPage this.pageNumbers.[0].nPages)  }}
              
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{add this.pageNumbers.[0].isCurPage 1}}">Next</a>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
  </div>
  </div>
</div>

</div>
</form>
